/*
  Variables
*/
/*
  Utilities
*/
.clearfix {
  overflow: auto; }

/*
  Header
*/
/*
  Footer
*/
footer {
  color: #666;
  font-size: 0.9em; }

@media (min-width: 700px) {
  .menu {
    font-size: 1em;
    text-align: right;
    float: right; }
    .menu #logo {
      font-size: 1.25em;
      float: left; }
    .menu li.active {
      border-bottom: 3px solid #FF4A00 !important; }
    .menu li:hover {
      border-bottom: 1px solid #FF4A00; } }
.menu {
  padding: 0.5em 0;
  min-height: 2em;
  color: #000; }
  .menu #logo {
    display: inline-block;
    padding: .45em 0em;
    margin: 0 0;
    color: #000;
    line-height: 1em;
    text-decoration: none; }
  .menu ul {
    transition: max-height .25s linear;
    margin: 0;
    padding: 0; }
  .menu li {
    transition: visibility .25s linear;
    display: inline-block;
    margin: 0 .3em; }
    .menu li a {
      color: #000;
      text-decoration: none;
      display: block;
      padding: .45em 0.5em 0.5em 0.5em;
      line-height: 1.5em; }
    .menu li:last-child {
      margin-right: 0; }
      .menu li:last-child a {
        margin-right: -.5em; }

@media (max-width: 700px) {
  .menu {
    border-bottom: 1px solid #FF4A00;
    padding: 0; }
    .menu #logo {
      margin: 0;
      padding: 1em 0em;
      font-weight: bold; }
    .menu ul {
      max-height: 0;
      overflow: hidden;
      margin: 0 0 0 0;
      padding: 0;
      text-align: left; }
    .menu li {
      visibility: hidden;
      display: block;
      padding: 0.2em 0;
      border: none;
      margin: 0;
      border-top: 1px solid #ddd; }
      .menu li a {
        padding: .3em 0em; }
    .menu .navbar-handle {
      display: block; }

  #navbar-checkbox:checked + .menu ul {
    max-height: 300px; }
  #navbar-checkbox:checked + .menu li {
    visibility: visible; }
  #navbar-checkbox:checked + .menu .navbar-handle, #navbar-checkbox:checked + .menu .navbar-handle:after, #navbar-checkbox:checked + .menu .navbar-handle:before {
    border-color: #aaa; } }
.navbar-checkbox {
  display: none; }

.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 45px;
  padding: .5em 0;
  height: 0;
  width: 1.66667em;
  border-top: 0.13333em solid;
  margin: 0 0.5em; }
  .navbar-handle:before, .navbar-handle:after {
    position: absolute;
    left: 0;
    right: 0;
    content: ' ';
    border-top: 0.13333em solid; }
  .navbar-handle:before {
    top: 0.37778em; }
  .navbar-handle:after {
    top: 0.88889em; }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100; }
  .menu .navbar-handle {
    position: absolute;
    font-size: 1.2em;
    top: 0.7em;
    right: 12px;
    z-index: 10; }

/*
  Content
*/
#content {
  padding-top: 4em; }

#main-banner {
  text-align: center; }
  #main-banner img {
    width: 200px;
    height: auto;
    border-radius: 500px;
    margin-bottom: 2em; }

#github-feed {
  margin: 1em 0;
  padding: 4em 0 0 0; }

/*
  Home Page
*/
.github-feed-header {
  width: 100%; }

@media (max-width: 450px) {
  .github-feed-header h5 {
    float: none; }
  .github-feed-header .github-link {
    float: left; } }
/*
  Projects Page
*/
#project-list .project {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em; }

/*
  Resume Page
*/
.experience-item p, .experience-item li {
  margin-bottom: 0.5em; }
.experience-item li {
  list-style-type: disc; }

/*
  Contact Page
*/
#contact {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
